@using TravelProgram.MVC.ViewModels.AuthVMs
@model ForgotPasswordVM

@{
    Layout = "_LoginLayout";
}

<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Forgot Password</h2>
                <form asp-action="forgotpassword" method="post" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="FullName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" asp-for="FullName" id="FullName" placeholder="Your FullName" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email"><i class="zmdi zmdi-mall"></i></label>
                        <input type="Email" asp-for="Email" id="Email" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" asp-for="Password" id="Password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group form-button">
                        <button style="border: 0" type="submit" id="signin" class="form-submit">Change Pw</button>
                    </div>
                    <div asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/login/images/signup-image.jpg" alt="sign up image"></figure>
                <div style="display: flex; flex-direction: row">
                    <a asp-controller="auth" asp-action="login" class="signup-image-link">Login</a>
                    <a style="margin-left: 15px" asp-controller="auth" asp-action="register" class="signup-image-link">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>