@model AirportCreateVM

<div style="margin-left: 100px; margin-top: 50px" class="container-fluid">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input asp-for="Name" class="form-control" style="width: 40%" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <select asp-for="City" class="form-control" asp-items="Html.GetEnumSelectList<AiportCities>()" style="width: 40%">
                <option value="" selected disabled>Select City</option>
            </select>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="btn btn-primary">Create</button>
        <button asp-action="" class="btn btn-warning">Cancel</button>
    </form>
</div>