@{
    Layout = null;
}

<main id="content" class="site-main">
    <div class="no-content-section 404-page">
        <div class="container">
            <div class="no-content-wrap">
                <span>404</span>
                <h1>Oops! That page can't be found</h1>
                <h4>It looks like nothing was found at this location</h4>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</main>