
<div class="package-inner package-inner-list">
    <div class="row">
        Your Order is completed
    </div>
    @* <div class="btn-wrap text-center">
        <a asp-controller="flight" asp-action="index" class="button-primary">VIEW ALL FLIGHTS</a>
    </div> *@
</div>